@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sidebar-font: "Gilroy" sans-serif;
  --sidebar-size: 15px;
  --sidebar-weight: 500;
  --sidebar-line-height: 17.66px;
  --sidebar-color: #727190;

  --article-color: #ecebf6;

  --aside-size: 12px;
}

body {
  font-family: "Roboto" sans-serif;
  caret-color: transparent;
  background: #0a0914;
}

ul,
li {
  list-style: none;
}

.wrapper {
  display: grid;

  grid-template-columns: 250px 825px 331px;
  gap: 35px;
}

.sidebar {
  grid-template-columns: 1fr;
  grid-template-rows: 53px;

  padding: 20px 0 20px 20px;

  background: #201e43;

  font-family: var(--sidebar-font);
  font-size: var(--sidebar-size);
  font-weight: var(--sidebar-weight);
  line-height: var(--sidebar-line-height);
  color: var(--sidebar-color);
}

.logo {
  display: grid;
  grid-template-columns: 45px 30px;
  margin-top: 41px;
}

.logo > h1 {
  font-family: "Expletus Sans" sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32.14px;

  color: #f5f4fb;
}
.sidebar_nav {
  display: grid;
  gap: 34px;
  margin-top: 69px;
}

.sidebar_nav > li {
  display: grid;
  grid-template-columns: 30px 80px;
  border-radius: 5px;

  padding: 10px;
}
.sidebar_nav > li:hover {
  border-right: 4px solid #8f7df8;
  cursor: pointer;
  background: #7e6bef0a;
  color: #b7abff;
}

.sidebar__img:hover {
  border: 1px solid #000;
}

.sidebar_profile {
  margin-top: 69px;

  display: grid;

  gap: 37px;
}

.sidebar_profile h4 {
  padding-left: 10px;
}

.sidebar_profile > li {
  display: grid;
  grid-template-columns: 30px 90px;
  padding-left: 10px;
  border-radius: 5px;
}

.sidebar_profile > li:hover {
  border-right: 4px solid #8f7df8;
  cursor: pointer;
  background: #7e6bef0a;
  color: #b7abff;
}

.sidebar_card {
  width: 195px;
  height: 165px;
  background: #4318ff;
  margin-top: 100px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.sidebar_card > h5 {
  color: #ffff;
  padding-top: 25px;
  margin-left: 16px;
}

.sidebar_card > h2 {
  color: #ffff;
  margin-top: 10px;
  margin-left: 16px;
}

.sudebar__btn {
  width: 163px;
  height: 35px;

  border-radius: 5px;
  margin-top: 20px;
  margin-left: 16px;
  border: none;

  color: #444bf8;
  background: #ffffff;
}

.sudebar__btn:hover {
  cursor: pointer;
  border: 1px solid #2c33ff;
  background: #f5e1e1;
}
.article {
  font-family: var(--sidebar-font);
  font-size: var(--sidebar-size);
  font-weight: var(--sidebar-weight);
  line-height: var(--sidebar-line-height);
  color: var(--article-color);
}

.article_search {
  position: relative;

  width: 583px;
  height: 48px;

  margin-top: 49px;
  margin-bottom: 53px;
}
.article__input {
  width: 100%;
  height: 100%;

  padding-left: 63px;
  border-radius: 10px;
  background: #201e43;
  color: #ecebf6;

  border: 1px transparent;
  outline: none;
}

.article_search > img:nth-child(2) {
  position: absolute;

  top: 15px;
  left: 29px;
}

.article_search > img:nth-child(3) {
  position: absolute;

  top: 15px;
  right: 22px;
}

.article__nav {
  margin-top: 53px;

  display: grid;
  grid-template-columns: 336px 487px;
  align-items: center;

  color: white;
}
.nav_logo {
  display: grid;
  grid-template-columns: 160px;
}

.nav_logo > h1 {
  font-family: "Gilroy" sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.4px;

  color: #f5f4fb;
}

.nav_list {
  display: grid;
  grid-template-columns: 25px 47px 97px 79px;
  grid-template-rows: 21px;
  justify-content: end;
  gap: 45px;

  font-size: 18px;
  line-height: 21.19px;
}

.nav_list > li:hover {
  cursor: pointer;
}

.nav_list > li:active {
  color: #b7abff;
  cursor: pointer;
}

.article_card {
  display: grid;
  grid-template-columns: 252px 252px 252px;
  gap: 35px;
}

.article_card > div {
  width: 252px;
  height: 329px;
  border-radius: 15px;
  background: #201e43;

  margin-top: 26px;
  padding: 7px 7px 100px 7px;
}

.article_card > div > h3 {
  margin-top: 21px;
  margin-left: 17px;
}

.article_card > div > p {
  display: grid;
  grid-template-columns: 58px 10px;
  align-items: center;

  margin: 16px 0px 0px 17px;

  font-size: 12px;
  line-height: 14.12px;
}

.article_card > div > p > span {
  display: grid;
  grid-template-columns: 10px 80px;
  gap: 15px;

  font-size: 14px;
  font-weight: 600;
  line-height: 17.15px;

  color: #b7abff;
}

.article__little_img {
  margin-left: 12px;
  margin-right: 4.28px;
}

.article__img {
  width: 237px;
  height: 217px;
}

.article_nft {
  width: 827px;
}

.article__title {
  display: grid;
  gap: 375px;
}

.article__title:nth-child(1) {
  display: grid;
  grid-template-columns: 331px 10px;

  margin-top: 41px;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.4px;

  color: #ffffff;
}

.article__title_list {
  display: grid;
  grid-template-columns: 120px;
  gap: 15px;
  color: var(--article-color);

  font-size: 13px;
  line-height: 15.3px;
}

.select {
  background: #201e43;
  padding: 8px 10px 7px 10px;
  color: var(--article-color);
  border: none;
  border-radius: 5px;
}

table {
  margin-top: 32px;
  width: 827px;
  height: 301px;
  border-radius: 15px;
  background: #201e43;
  color: white;
  font-size: 14px;
  line-height: 16.48px;
}

th {
  padding: 23px 0px 0px 0px;
  text-align: center;
}
td {
  text-align: center;
}

.collection {
  text-align: left;
}
.table_number {
  width: 37px;
  padding: 0px 36px;
}

.td_images {
  width: 90px;
  display: grid;
  grid-template-columns: 34px 90px;
  grid-template-rows: 64px;
  align-items: center;
  gap: 17px;
}
.interestin_color_even {
  color: #f35077;
}
.interestin_color_odd {
  color: #19dca9;
}

.aside {
  font-family: var(--sidebar-font);
  font-weight: var(--sidebar-weight);
  font-size: var(--aside-size);
  color: var(--article-color);
}

.aside_header {
  display: grid;
  grid-template-columns: 52px 140px 20px;
  align-items: center;
  gap: 12px;
  padding-left: 14px;
  margin-top: 48px;
}
.aside_header > div {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #201e43;
}

.aside_header > div > img {
  position: absolute;
  top: 15px;
  right: 15px;
}
.aside__logo {
  width: 50px;
  height: 50px;
  background: #0a0914;
}

.aside_select {
  padding: 0px;
  background: #0a0914;
  border: none;
  color: #ecebf6;

  line-height: 16.48px;
}

.aside_main {
  width: 331px;
  height: 403px;
  border-radius: 15px;

  margin-top: 32px;
  background: #201e43;
}
.aside_main_title {
  display: grid;
  grid-template-columns: 111px 60px;
  align-items: center;
  justify-content: space-between;
  padding: 21px 45px 29px 14px;

  font-size: 18px;
  line-height: 16.48px;
}

.aside_main_title span:nth-child(2) {
  line-height: 16.48px;
}

.aside__img {
  width: 286px;
  height: 226px;
  margin: 0 23px;
}

.aside_main > p {
  display: grid;
  grid-template-columns: 80px 88px;
  margin: 16px 0px 0px 35px;
}

.aside_main > h3 {
  margin: 11px 0px 0px 35px;

  margin-top: 21px;
  margin-left: 35px;
}

.aside_main > p > span {
  display: grid;
  grid-template-columns: 26px 0px;
  align-items: center;

  font-size: 13.71px;
  line-height: 16.8px;

  color: #b7abff;
}
.aside_footer {
  width: 331px;
  height: 372px;
  border-radius: 15px;

  margin-top: 28px;

  background: #201e43;
}

.aside__cards {
  display: grid;
  gap: 26px;
  padding: 0px 26px;
}

.aside__card {
  display: grid;
  grid-template-columns: 66px 115px 91px;
  align-items: center;

  background: #201e43;
}
.aside__card div {
  display: grid;
}

.aside__card span:nth-child(1) {
  font-size: 14px;
  line-height: 16.48px;

  margin-bottom: 3px;
}

.aside__card span:nth-child(2) {
  font-size: 10px;
  line-height: 11.77px;
}
.aside__btn {
  padding: 6px 26px;
  border-radius: 5.3px;
  background: #8270eb;
  border: 1px transparent;

  cursor: pointer;
}
